body {
  background-color: #FEAFC3;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider-prev, .slider-next {
  border: none;
  background-color: transparent;
}

.slider-prev:active, .slider-next:active {
  transform: scale(0.9);
}

ul {
  list-style: none;
}

.pagination-slider {
  display: flex;
}

.pagination-dot {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-left: 5px;
}

.pagination-dot.active {
  background-color: #FCFCFC;
}
